* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v403_106 {
  width: 100%;
  height: 832px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v403_107 {
  width: 100%;
  height: 83px;
  background: rgba(60,96,252,1);
  opacity: 1;
  position: absolute;
  top: 761px;
  left: 2px;
  overflow: hidden;
}
.v403_108 {
  width: 174px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 756px;
  left: 525px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v403_109 {
  width: 20px;
  height: 21px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 796px;
  left: 451px;
}
.v403_110 {
  width: 20px;
  height: 21px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 796px;
  left: 751px;
}
.v403_111 {
  width: 20px;
  height: 18px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 799px;
  left: 602px;
}
.v403_112 {
  width: 100%;
  height: 101px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 2px;
  box-shadow: 0px 4px 10px rgba(0.07450980693101883, 0.07450980693101883, 0.08235294371843338, 0.5);
  overflow: hidden;
}
.v403_113 {
  width: 171px;
  height: 101px;
  background: url("../images/v403_113.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 48px;
  overflow: hidden;
}
.v403_114 {
  width: 153px;
  color: rgba(4,23,42,1);
  position: absolute;
  top: 36px;
  left: 289px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v403_115 {
  width: 134px;
  color: rgba(4,23,42,1);
  position: absolute;
  top: 35px;
  left: 682px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v403_116 {
  width: 67px;
  color: rgba(4,23,42,1);
  position: absolute;
  top: 35px;
  left: 880px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v403_117 {
  width: 112px;
  color: rgba(4,23,42,1);
  position: absolute;
  top: 34px;
  left: 506px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v403_118 {
  width: 100px;
  height: 50px;
  background: rgba(60,96,252,1);
  padding: 15px 15px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 1108px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 4px 5px rgba(0.01568627543747425, 0.09019608050584793, 0.16470588743686676, 0.25);
  overflow: hidden;
}
.v403_119 {
  width: 95px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 9px;
  left: 2px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: right;
}
.v403_120 {
  width: 649px;
  height: 92px;
  background: rgba(225,231,255,1);
  opacity: 1;
  position: absolute;
  top: 106px;
  left: 2px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v403_121 {
  width: 752px;
  color: rgba(60,96,252,1);
  position: absolute;
  top: 132px;
  left: 195px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v403_122 {
  width: 263px;
  height: 217px;
  background: url("../images/v403_122.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 102px;
  left: 979px;
  overflow: hidden;
}
.v403_123 {
  width: 441px;
  height: 54px;
  background: linear-gradient(rgba(152,173,255,1), rgba(225,231,255,0));
  opacity: 1;
  position: absolute;
  top: 561px;
  left: 19px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v403_124 {
  width: 649px;
  height: 46px;
  background: linear-gradient(rgba(152,173,255,1), rgba(225,231,255,0));
  opacity: 1;
  position: absolute;
  top: 497px;
  left: 17px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v403_125 {
  width: 651px;
  height: 56px;
  background: linear-gradient(rgba(152,173,255,1), rgba(225,231,255,0));
  opacity: 1;
  position: absolute;
  top: 385px;
  left: 19px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v403_126 {
  width: 868px;
  height: 56px;
  background: linear-gradient(rgba(152,173,255,1), rgba(225,231,255,0));
  opacity: 1;
  position: absolute;
  top: 441px;
  left: 19px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v403_127 {
  width: 100%;
  height: 84px;
  background: rgba(229,234,255,1);
  opacity: 1;
  position: absolute;
  top: 676px;
  left: 16px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v403_128 {
  width: 449px;
  height: 42px;
  background: linear-gradient(rgba(152,173,255,1), rgba(225,231,255,0));
  opacity: 1;
  position: absolute;
  top: 325px;
  left: 17px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v403_129 {
  width: 254px;
  height: 59px;
  background: url("../images/v403_129.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 264px;
  left: 0px;
  overflow: hidden;
}
.v403_130 {
  width: 232px;
  height: 50px;
  background: url("../images/v403_130.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 384px;
  left: 427px;
  overflow: hidden;
}
.v403_131 {
  width: 247px;
  height: 51px;
  background: url("../images/v403_131.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 496px;
  left: 437px;
  overflow: hidden;
}
.v403_132 {
  width: 283px;
  height: 57px;
  background: url("../images/v403_132.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 559px;
  left: 242px;
  overflow: hidden;
}
.v403_133 {
  width: 244px;
  height: 60px;
  background: url("../images/v403_133.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 617px;
  left: 0px;
  overflow: hidden;
}
.v403_134 {
  width: 149px;
  height: 42px;
  background: url("../images/v403_134.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 326px;
  left: 200px;
  overflow: hidden;
}
.v403_135 {
  width: 83px;
  height: 54px;
  background: url("../images/v403_135.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 323px;
  left: 349px;
  overflow: hidden;
}
.v403_136 {
  width: 243px;
  height: 56px;
  background: url("../images/v403_136.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 440px;
  left: 652px;
  overflow: hidden;
}
.v403_137 {
  width: 119px;
  height: 80px;
  background: url("../images/v403_137.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 681px;
  left: 749px;
  overflow: hidden;
}
.v403_138 {
  width: 119px;
  height: 80px;
  background: url("../images/v403_138.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v403_139 {
  width: 119px;
  height: 80px;
  background: url("../images/v403_139.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v403_140 {
  width: 119px;
  height: 80px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v403_141 {
  width: 454px;
  height: 80px;
  background: url("../images/v403_141.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 338px;
  overflow: hidden;
}
.v403_142 {
  width: 131px;
  height: 81px;
  background: url("../images/v403_142.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 680px;
  left: 481px;
  overflow: hidden;
}
.v403_143 {
  width: 131px;
  height: 81px;
  background: url("../images/v403_143.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v403_144 {
  width: 131px;
  height: 81px;
  background: url("../images/v403_144.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v403_145 {
  width: 131px;
  height: 81px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v403_146 {
  width: 454px;
  height: 81px;
  background: url("../images/v403_146.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 195px;
  overflow: hidden;
}
.v403_147 {
  width: 91px;
  height: 80px;
  background: url("../images/v403_147.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 681px;
  left: 247px;
  overflow: hidden;
}
.v403_148 {
  width: 91px;
  height: 80px;
  background: url("../images/v403_148.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v403_149 {
  width: 91px;
  height: 80px;
  background: url("../images/v403_149.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v403_150 {
  width: 91px;
  height: 80px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v403_151 {
  width: 454px;
  height: 80px;
  background: url("../images/v403_151.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 104px;
  overflow: hidden;
}
.v403_152 {
  width: 104px;
  height: 80px;
  background: url("../images/v403_152.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 681px;
  left: 1px;
  overflow: hidden;
}
.v403_153 {
  width: 104px;
  height: 80px;
  background: url("../images/v403_153.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v403_154 {
  width: 104px;
  height: 80px;
  background: url("../images/v403_154.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v403_155 {
  width: 104px;
  height: 80px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v403_156 {
  width: 454px;
  height: 80px;
  background: url("../images/v403_156.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v403_157 {
  width: 270px;
  height: 80px;
  background: url("../images/v403_157.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 681px;
  left: 1012px;
  overflow: hidden;
}
